.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 60px 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: var(--text);
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .posts {
    flex-direction: column;
  }
}
